@font-face {
    font-family: 'Clash Display';
    src: url('./fonts/clash_display/ClashDisplay-Regular.woff2') format('woff2'),
         url('./fonts/ClashDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'Clash Display';
    src: url('./fonts/ClashDisplay-Bold.woff2') format('woff2'),
         url('./fonts/ClashDisplay-Bold.woff') format('woff');
    font-weight: 700; /*bold */
    font-style: normal;
  }


  @font-face {
    font-family: 'Nexa';
    src: url('./fonts/nexa/NexaText-Trial-ExtraLight.woff2') format('woff2'),
         url('./fonts/nexa/NexaText-Trial-ExtraLight.woff') format('woff');
    font-weight: 200; /* Extra Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nexa';
    src: url('./fonts/nexa/NexaText-Trial-Light.woff2') format('woff2'),
         url('./fonts/nexa/NexaText-Trial-Light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nexa';
    src: url('./fonts/nexa/NexaText-Trial-Regular.woff2') format('woff2'),
         url('./fonts/nexa/NexaText-Trial-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nexa';
    src: url('./fonts/nexa/NexaText-Trial-Bold.woff2') format('woff2'),
         url('./fonts/nexa/NexaText-Trial-Bold.woff') format('woff');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  @font-face {
     font-family: 'Space Grotesk';
     src: url('./fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
     font-weight: 400;
     font-style: normal;
   }

   @font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-VariableFont_wght.ttf') format('truetype');
   }

   @font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
   }

   @font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-VariableFont_wght.ttf') format('truetype');
   }