@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
  }

  select {
    font-family: 'Inter', sans-serif;
  }

  option {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }

.custom-checkbox {
    width: 29.3px; 
    height: 29.3px;
    border-radius: 8.78px;
    border: 1px solid #D0D5DD;
  }

  @media screen and (max-width: 500px) {
    .custom-checkbox {
        width: 14.3px;
        height: 14.3px;
    }
}